* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Quicksand', sans-serif;
font-family: 'Poppins', sans-serif; */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

/* global */
:root {
    --cs-primary: #8768fb;
    --cs-subpr: #a995fc;
    --cs-text: #858585;
    --cs-title: #281f4b;
    --cs-wh: #fff;
    --cs-bg: #dad1fe;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 34px;
    color: var(--cs-title);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    color: var(--cs-text);
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
}

.btn {
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

.c-60 {
    padding: 60px 0px;
}

/* header */
.header {
    padding: 0;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--cs-primary);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--cs-wh);
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--cs-title);
}

.btn_custom {
    background-color: transparent;
    border: 1px solid var(--cs-wh);
    padding: 10px 25px !important;
    font-size: 16px;
    font-weight: 700;
    color: var(--cs-wh);
    transition: .3s all ease-in-out, .3s all ease-in-out;
}

.btn_custom:hover {
    margin-top: 0;
    background-color: #5B1FB4;
    color: var(--cs-wh);
    box-shadow: 0px 0px 10px 3px #5b1fb480;
    color: var(--cs-wh) !important;
}

/* hero */
.hero {
    background-color: var(--cs-primary);
}

.hero .row {
    min-height: 100vh;
}

.hero_content p {
    color: var(--cs-wh);
    font-size: 20px;
}

.hero_button {
    padding: 30px 0px;
}

.btn_download {
    background-color: var(--cs-wh);
    border: 1px solid var(--cs-wh);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    transition: .3s all ease-in-out, .3s all ease-in-out;
    margin-right: 10px;
}

.btn_download:hover {
    background-color: #5B1FB4;
    color: var(--cs-wh);
    box-shadow: 0px 0px 6px 0px #00000036;
}

.btn_hv:hover {
   
}

.btn_details {
    background-color: transparent;
    border: 1px solid var(--cs-wh);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    color: var(--cs-wh);
    transition: .3s all ease-in-out, .3s all ease-in-out;
}

.btn_details:hover {
    background-color: #5B1FB4;
    color: var(--cs-wh);
    box-shadow: 0px 0px 6px 0px #00000036;
}

.hero_image {
    text-align: right;
}

.login_form {
    padding: 50px;
    background-color: var(--cs-title);
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
}

.login_form form {}

.login_form form input {
    padding: 0;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.login_form form input::placeholder {
    font-size: 14px;
    color: var(--cs-text);
}

.login_form form input[type='submit'] {
    width: 100%;
    background-color: var(--cs-bg);
    border: transparent;
    border-radius: 5px;
    color: var(--cs-title);
    font-weight: 700;
    font-size: 16px;
    transition: .3s all ease-in-out, .3s all ease-in-out;
}

.login_form form input[type='submit']:hover {
    background-color: var(--cs-primary);
    box-shadow: 0px 0px 10px 3px #5b1fb480;
    color: var(--cs-wh) !important;
}

.login_form form .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.btn_signup {
    background-color: var(--cs-primary);
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--cs-wh);
    transition: .3s all ease-in-out, .3s all ease-in-out;
}

.btn_signup:hover {
    background-color: var(--cs-bg);
    box-shadow: 0px 0px 10px 3px #5b1fb480;
}

.log_form_button a p {
    color: var(--cs-wh);
    margin-top: 10px;
}

/* services */
.service_content {}

.serv_block {
    padding-top: 20px;
}

.cstm_icon {

    font-size: 25px;

    color: var(--cs-wh);

    margin-bottom: 12px;

    border-radius: 5px;

    width: 50px;

    height: 50px;

    display: flex;

    background-color: var(--cs-primary);

    justify-content: center;

    align-items: center;
}

.service_image img {
    width: 85%;
    box-shadow: 0px 0px 7px 1px #0000001c;
    border-radius: 10px;
}

/* features */
.features {
    background-color: var(--cs-bg);
}

.titlep p {
    width: 50%;
    margin: auto;
}

.btn_ft {
    background-color: var(--cs-subpr);
    color: var(--cs-wh);
}

.btn_ft2 {
    color: var(--cs-title);
    border-color: var(--cs-subpr);
}

.feature_content {
    text-align: left;
    margin-bottom: 30px;
}

.feature_content i {
    margin-left: auto;
}

.fc i {
    margin: 0;
    margin-right: auto;
    margin-bottom: 12px;
}

/* screenshots */
.ss_title {
    text-align: center;
}

.frame {}

.frame img {
    position: absolute;
    width: 18%;
    z-index: 10;
    top: -13px;
    left: 48%;
    transform: translateX(-50%);
}

.carousel {
    position: relative;
    margin-top: 40px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 75%;
    border-radius: 23px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: -40px;
}

.owl-dots .owl-dot span {

    display: block;

    width: 12px;

    height: 12px;

    border-radius: 50px;

    border: 1px solid #dcdcdc;

    background: #dcdcdc;

    margin-right: 7px;
}

.owl-dots .active span {

    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 1px solid var(--cs-primary);
    background: var(--cs-primary);

}


/* review starts */
.review {
    background-color: var(--cs-bg);
}

.review_box {
    border-radius: 15px;
    box-shadow: 0px 0px 11px 0px #00000026;
    background-color: var(--cs-wh);
}

.client_bg img {
    border-radius: 15px 0px 0px 15px !important;
}

.client_des {
    padding: 20px;
}

.client_title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.client_title img {
    border-radius: 100px;
    margin-right: 20px;
    width: 50px !important;
}

.client_title p {
    font-size: 14px;
    color: var(--cs-title);
}

.rev-carousel.owl-drag .owl-item {
    padding: 10px;
}

/* pricing */
.price_box {
    background-color: var(--cs-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px #0000001c;
    transition: .4s all ease-in-out, .4s all ease-in-out;
}

.pr_title {
    background-color: #4c5aaf;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;

}

.pr_title p {
    /* background-color: var(--cs-primary);
    width: 59px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center; */
    color: var(--cs-wh);
    /* border-radius: 2px; */
}

.pr_title h4 {
    font-size: 20px;
    padding: 12px 0px;
    color: var(--cs-wh);
}

.pr_title h4 strong {
    font-size: 40px;
}

.pr_title h3 {
    color: var(--cs-wh);
    font-size: 16px;
    font-weight: 400;
}

.pr_des {
    padding: 20px;
}

.pr_des li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 16px;
}

.pr_des li i {
    margin-right: 10px;
}

.plan_buy {
    padding: 0;
    padding: 10px 0px;
}

.check_icon {

    color: #008000;
}

.x_mark {
    color: #ff0000;
}

.startplan {
    background-color: #3c2b60;
    border-radius: 0;
}

.tag {
    background-color: #4c5aaf;
    padding: 8px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.tag h3 {
    color: var(--cs-wh);
    padding: 0;
}

.price_box:hover {
    transform: scale(1.02);
}

/* newsletter */
.newsletter {
    background-color: var(--cs-bg);
}

.news_image img {
    box-shadow: none;
}




/* footer */
.footer_des {
    text-align: center;
}

.footer_des p {
    padding: 20px 0px;
}

.newsletter_form {
    display: flex;
    width: 50%;
    margin: auto;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin: auto;
    padding: 30px 0px;
}

.social li {
    list-style: none;
}

.social li a {}

.social li a i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--cs-subpr);
    color: var(--cs-wh);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.cc p {
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}


/* login page */
.login_pg{
    background-color: var(--cs-subpr);
}

.login_pg .row{
    min-height: 100vh;
}

.logo{
    text-align: center;
    margin-bottom: 30px;
}

.loginpg_login{
    width: 80%;
    margin: auto;
}

.loginpg_login p{
    text-align: center;
    color: var(--cs-wh);
    margin-bottom: 10px;
}